/.cph
/.vscode
/A_Nearly_Lucky_Number.bin
/A_Nearly_Lucky_Number.exe
/buy_sell_stock.cpp
/buy_sell_stock.exe
/contains_dup.cpp
/contains_dup.exe
/meta_hackercupq1.cpp
/meta_hackercupq1.exe
/midean.cpp
/midean.exe
/output
/rev_num.cpp
/rev_num.exe
/sort_array.cpp
/sort_array.exe
/triplets.cpp
/triplets.exe
/two_sum.cpp
/two_sum.exe